.App {
  text-align: center;
  width: 100%;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.section1 {
  background-image: url(./images/NordinNutrition.png);
  background-repeat: no-repeat;
  background-size: cover;
  /* width: 100%; */
  height: 500px;
  padding: 10px;
  margin: auto;

}

.sec1-div {
  text-align: center;
  padding: 250px;
  /* margin: auto auto; */
}

.nav1 {
  padding: 5px 10px;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;

}

.nav1-ul {  
  margin: 0 0 auto auto;
  display: flex;
  justify-content: space-around;
  float: right;
  
}

.nav1-ul li {
  list-style-type: none;
  text-align: center;
  padding: 0 30px;
}

.nav1-links {
  color: black;
  /* width: 10px; */
}

.nav2 {
  background-color: rgb(201, 199, 199);
  /* padding: 10px; */
  width: 100%;
  /* position: fixed; */
  top: 0;
  display: flex;
  margin: 70px auto 10px auto;
  padding: 10px 10px;

}

.nav2-ul {  
  margin: auto auto 0 0;
  display: flex;
  /* justify-content: space-evenly; */
  /* float: left; */
}

.nav2-ul li {
  /* background-color: yellowgreen ; */
  list-style-type: none;
  text-align: center;
  padding: 0 30px;
}

.nav2-links {
  color: black;
  width: 10px;
}

.nav2 a:hover {
  color: white
}


footer ul {
  display: flex;
  justify-content: space-evenly;
  /* margin: auto 0 ; */
}

footer li {
  list-style-type: none;
}

footer .footerLinks {
color: black;
}

.searchBar {
  width: 240px
}

#search {
  background-color: none;
}

.recipesPage {
  text-align: center;
}

.products {
  /* width: 200px; */
}

.ingredients {
  width: 600px;
  text-align: center;
  display: flex;
  align-self: center;
  margin: auto;
}

.recipe-image {
  /* size: 10px */
  padding: 10px;
}

.recipes {
  padding: 10px;
}