@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body {
  margin: 0;
  font-family: 'Playfair Display', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .header, .footer, .main {
  display: flex;
}
ul {
  display: flex
}

.header {
  height: 15vh !important;
}
.main {
  height: 75vh !important;
}
.footer {
  height: 10vh !important;
} */